.wrapper {
   margin-right: 85px;
}

.wrapper fieldset {
  display: flex;
  justify-content: center;
  column-gap: 2em;
  margin-top: 50px;
  border: 1px solid #e6e6e6;
  padding: 2em;
  border-radius: 10px;
  background: #e6e6e6;
}

.wrapper button {
  margin-top: 40px;
  width: max-content;
}

.wrapper form {
  display: flex;
  margin-top: 40px;
  flex-direction: column;
}