.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
}

.logo {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.social-icons li {
  margin-right: 10px;
}

/* Hide sidebar on smaller screens */
@media only screen and (max-width: 600px) {
  .sidebar {
    display: none;
  }
}

/* Show sidebar on larger screens */
@media only screen and (min-width: 600px) {
  .sidebar {
    display: block;
  }

  .sidebar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .sidebar-nav .nav-item {
    margin-bottom: 20px;
  }

  .sidebar-nav .nav-item a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    transition: all 0.3s ease;
  }

  .sidebar-nav .nav-item a:hover {
    color: #98be0f;
  }
}

.hamburger-menu {
  display: none;
}

.hamburger-menu.open {
  display: block;
}
